<!doctype html>
<html ng-app="tmAPP">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="./main.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body ng-controller="tmCtrl">
    <div class="container">
      <hr>
      <h1>Hello {{hi}} {{data}}!</h1>
      <h2>{{somedata.hey}}</h2>

      <!-- <ul class="list-group">
        <li class="list-group-item active">Control Panel</li>
        <li class="list-group-item">
          <div class="input-group">
            <input type="text" class="form-control input-lg" ng-model="qos">
            <span class="input-group-btn"><button class="btn btn-default btn-lg" ng-click="triggerQos()">Yo</button></span>
          </div>
        </li>
         <li class="list-group-item">
          <div class="input-group">
            <input type="text" class="form-control input-lg" ng-model="monitor">
            <span class="input-group-btn"><button class="btn btn-default btn-lg">Yo</button></span>
          </div>
        </li>
         <li class="list-group-item">
          <div class="input-group">
            <input type="text" class="form-control input-lg" ng-model="firewall">
            <span class="input-group-btn"><button class="btn btn-default btn-lg">Yo</button></span>
          </div>
        </li>
      </ul> -->

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="func in funcs">
          <div class="input-group">
            <input type="text" class="form-control input-lg" ng-model="func.model">
            <span class="input-group-btn"><button class="btn btn-default btn-lg" ng-click="triggerMethod(func.method)">{{func.name}}</button></span>
          </div>
        </li>
      </ul>
      
      <div>
        <button class="btn btn-default btn-lg" ng-click="echo()">Echo!</button>
        Status: {{state}}
      </div>
      <h3 ng-repeat="func in funcs">{{func.model}}</h3>
    </div>
  </body>
</html>